.visual-simpleKPI8834183003554B1586236E8CAC1ADBE2_DEBUG {
  
}
.visual-simpleKPI8834183003554B1586236E8CAC1ADBE2_DEBUG .overflowingText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
.visual-simpleKPI8834183003554B1586236E8CAC1ADBE2_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-simpleKPI8834183003554B1586236E8CAC1ADBE2_DEBUG p em {
  background: yellow;
  padding: 5px;
}
